// main: style.scss
.home {
  .eo-fullcalendar {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    th.fc-sat {
      background-color: #014c86;
      color: #fff;
    }

    th.fc-sun {
      background-color: #e50012;
      color: #fff;
    }
  }

  .eo-calendar {
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .fc-state-default {
    background-color: #014c86;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.05);
  }
}
